<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index1.css" />
    <link rel="stylesheet" href="css/cart.css" />
    <link rel="stylesheet" href="css/shop.css" />
    <link rel="stylesheet" href="css/share.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossOrigin="anonymous" />
    <title>Cart</title>
</head>

<body>
    <div class="header dp-flex">
        <div class="container">
            <div class="header1 dp-flex">
                <div class="header1__phone">
                    <p>
                        <i class="fas fa-phone text-prime"></i>
                        <strong class="text-prime">Phone:</strong>
                        0964048725
                    </p>
                </div>
                <div class="header1__email">
                    <p>
                        <i class="fas fa-envelope text-prime"></i>
                        <strong class="text-prime">Email:</strong>
                        toileanh84@gmail.com
                    </p>
                </div>
                <div class="myAcocunt m-l">
                    <p>
                        <i class="fas fa-lock text-prime"></i>
                        My Account
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="header2">
        <div class="container dp-flex">
            <div class="header2__logo">
                <img src="./img/fronteend/logo.png" alt="" />
            </div>
            <div class="header2__sreach m-l dp-flex">
                <input type="search" name="sreach" id="ok" placeholder="search" />
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <div class="header__cart">
                <button>
                    <i class="fas fa-cart-arrow-down"></i>
                    <span>My Cart</span>
                    <i class="fas fa-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="header3">
        <div class="container">
            <nav class="nav">
                <ul class="menu menu__list">
                    <li class="menu-item">
                        <a href="#" class="menu-link"> Home </a>
                    </li>
                    <li class="menu-item has-child">
                        <a href="#" class="menu-link">
                            Shop
                        </a>
                        <ul class="menu-child">
                            <li class="menu-child-item has-child">
                                <a href="#" class="menu-child-link">
                                    Shope <i class="fas fa-angle-right arrow-right"></i>
                                    <!-- <i class="fas fa-angle-down arrow-down"></i> -->
                                </a>
                                <ul class="menu-child menu-child1">
                                    <li class="menu-child-item">
                                        <a href="#" class="menu-child-link"> CodingUI </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-child-item">
                                <a href="#" class="menu-child-link"> Blog </a>
                            </li>
                            <li class="menu-child-item">
                                <a href="#" class="menu-child-link"> Video </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link"> Discover </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link"> Explore </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link"> Category </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link"> Branding </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <section>
        <div class="cart__detail--wapper">
            <div class="container">
                <div class="cart__detail--content">
                    <div class="cart__detail--header">
                        <h1>Cart</h1>
                    </div>
                    <div class="cart__detail--info">
                        <div class="cart__content-title">
                            <p id="cart_empty" style="display: none;">Your cart is empty</p>
                            <div class="cart__content--card">
                                <div class="row">
                                    <div class="col-3 dp-flex">
                                        <div class="cart__card--image">
                                            <img src="./img/fronteend/newproduct/15.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="cart__card--info">
                                            <div class="cart__product--name">
                                                <p>Top,The Village Of Retro Furniture,Vintage…</p>
                                            </div>
                                            <div class="cart__card--desc">
                                                The Frankie Sweatshirt is your best friend at 
                                                long afternoon stadium stints or winter trailside campsites.
                                                The soft fleece fabric keeps you toasty as moisture-wicking 
                                                technology kicks in when the sun comes out.
                                            </div>
                                            <div class="cart__card--price">
                                                <p style="color: red;">$30000</p>
                                            </div>
                                            <div class="cart__card--number">
                                                <button onclick="changeNumber(-1)" class="number_cart">-</button>
                                                <input min="0" type="number" name="number" id="number_cart" value="1">
                                                <button onclick="changeNumber(1)" class="number_cart">+</button>
                                            </div>
                                            <div class="cart__card--action">
                                                <button onclick="remove_cart()">Remove</button>
                                                <button><a href="payment.html">Payment</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </section>
    <section>
        <div class="home__footer">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="footer_signup">
                            <div class="footer__signup--title">
                                Sign Up For Send Newsletter
                            </div>
                            <div class="footer__signup--form dp-flex">
                                <input type="email" placeholder="your email address">
                                <input type="button" value="signup" class="active">
                            </div>
                        </div>
                        <div class="footer__contact">
                            <div class="foter__contact--title">
                                <p> Contact Info</p>
                            </div>
                            <div class="footer__contact--dess">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy …</p>
                            </div>
                            <div class="footer_contact--address">
                                <p><i class="fa fa-map-marker-alt"></i><strong>Address:</strong>
                                   Số 5 93/23 Ngõ 93 Đường Hoàng Mai, Quận Hoàng Mai, TP Hà Nội
                                </p>
                            </div>
                            <div class="footer__contact--phone">
                                <p><i class="fa fa-fax"></i><strong>Address:</strong>
                                    0964048725
                                </p>
                            </div>
                            <div class="footer__contact--email">
                                <p><i class="fa fa-envelope"></i><strong>Address:</strong>
                                   tongthidan99@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="footer__category">
                            <ul>
                                <li><img src="./img/fronteend/category/ca1.jpg">Phone</li>
                                <li><img src="./img/fronteend/category/ca2.jpg">Laptop</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="footer__category">
                            <ul>
                                <li><img src="./img/fronteend/category/ca6.jpg">Phone</li>
                                <li><img src="./img/fronteend/category/ca2.jpg">Laptop</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="footer__connect">
                            <div class="footer__connect--title">
                                Connect with me
                            </div>
                            <div class="footer__connect--button dp-flex">
                                <i class="fab fa-facebook-square"></i><a href="#">http://wwwwfacebook.com</a>
                            </div>
                            <div class="footer__connect--button dp-flex">
                                <i class="fab fa-twitter"></i><a href="#">http://wwwwtwiier.com</a>
                            </div>
                            <div class="footer__connect--button dp-flex">
                                <i class="fab fa-telegram"></i><a href="#">http://wwwwtelegram.com</a>
                            </div>
                            <div class="footer__connect--button dp-flex">
                                <i class="fab fa-linkedin"></i><a href="#">http://wwwwlinkedin.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="./js/slide.js"></script>
<script src="./js/cart.js"></script>
<script src="./js/shop.js"></script>
</html>